{% extends 'base1.html.twig' %}

{% block body %}
<section id="container" >
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!--state overview start-->
            <!-- Aqui incrustamos el codigo que generamos del comando de crud -->

		  <h1>Permisos list</h1>

    <table>
        <thead>
            <tr>
                <th>Idpermiso</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permiso in permisos %}
            <tr>
                <td><a href="{{ path('permiso_show', { 'idPermiso': permiso.idPermiso }) }}">{{ permiso.idPermiso }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('permiso_show', { 'idPermiso': permiso.idPermiso }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('permiso_edit', { 'idPermiso': permiso.idPermiso }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        <div class="modal-footer">

        <table>
            <thead>
                <tr>
                    <th>Nombre Menu</th>
                    <th>---ID</th>
                    <th>ID other menu-----</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for menuitem in menuitems %}
                <tr>
                    <td><a href="{{ path('menu_show', { 'idMenuitem': menuitem.idMenuitem }) }}">{{ menuitem.nombreMenu }}</a>------</td>
                    <td>{{ menuitem.idMenuitem }}-------</td>


                      <td>--
                        <ul>
                            <li>
                                <a href="{{ path('menu_show', { 'idMenuitem': menuitem.idMenuitem }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('menu_edit', { 'idMenuitem': menuitem.idMenuitem }) }}">edit</a>
                            </li>
                        </ul>
                    --</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        </div>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('permiso_new') }}">Create a new permiso</a>
        </li>
    </ul>
            <!-- Aqui termina la inscrustacion del codigo -->
            </div>
        </section>

      </div>

  <div class="modal-footer">
        CIDES 2017
  </div>
        </div>

    </div>
</div>

<!-- Modal Observacion -->
<div class="modal fade" id="observacionModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h3 class="modal-title" id="lineModalLabel">Observaciones del Proyecto</h3>
    </div>
    <div class="modal-body">
    <form>
        <div class="form-group">
              <label for="nombreProy">Observación de:</label>
              <textarea class="form-control" id="ta1" placeholder="Ej. Justificación del Proyecto" rows="1"></textarea>
        </div>
        <div class="form-group">
        <label for="comentarios">Descripción</label>
        <textarea class="form-control" id="ta8" rows="3"></textarea>

        <div class="panel-body">
          <div class="text-center">
              <a class="btn btn-success btn-lg" href="#">Guardar</a>
          </div>
       </div>

      </div>
    </form>

   </div>

   <div class="modal-footer">
     CIDES 2017
  </div>
  </div>
 </div>
</div>






{% endblock %}
